#content {
    margin-top: 30px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 5px #ccc;
    padding: 0px;
    overflow: hidden;
}

#header {
    background: red;
    color: white;
    margin: 0px;
    height: 90px;
    line-height: 90px;
    padding-left: 30px;
}

#header h1 {
    display: block;
    line-height: 70px;
    font-weight: bold;
    font-size: 30px;
}

#nav {
    background: rgb(231, 134, 137)
    ;
}

#nav ul {
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#nav ul li {
    margin-right: 20px;
    color: white;
}
#nav ul li a {
    text-decoration: none;
    line-height: 29px;
    color: white;
    height: 30px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s;
}

#nav ul li a:hover {
    text-decoration: none;
    background-color: red;
}
#footer {
    margin-top: 50px;
    border-top: 1px solid #eee;
    padding-top: 10px;
    color: gray;
}

#main .jumbotron {
    padding: 50px;
    margin-top: 30px;
    border-radius: 20px;
}

/* Clase active de navbar */

.active {
    background: rgb(170, 27, 27);
    border-bottom: 4px solid yellow !important;
}

#form-producto label {
    margin-top: 10px;
}



